@import '../../layouts/colors.scss';

/* html, body {
    overflow-y: hidden;
} */

#slika {
    padding-bottom: 0px;
    margin-bottom: 0px;
    max-width: 100%;
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}
#h1 {
    color: $text;
    font-family: ubuntu;
    font-size: 70px;
    font-weight: bold;
}
#h2 {
    color: $text;
    font-family: 'Futura Lt BT';
    font-size: 53px;
    font-weight: 100;
}
.slike { 
    position: absolute;
    height: 150px;
    width: auto;

}

.social {
    position: fixed;
    margin-top: 210px;
    list-style: none;
  }
  
.social li a {
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    text-align: center;
  }
.img-fluid {
    height: 200px;
    width: auto;
}
