@import 'src/layouts/colors.scss';
@import 'src/layouts/fonts.scss';
.navbar {
        height: 85px;
    }
#crvena {
        color:$red;
    }
#logo {
    font-size: 25px;
}
.nav-link {
    font-family: karla;
    font-size: 18px;
}
.navbar-brand {
    padding: 0px 133px;
    font-family: 'space mono';
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }